
.clintSection{
    margin-top: 116px;
}

.clientHr{
    border: 3px solid #ED1C24;
    width:60px;
    margin-right:635px;
    margin-top: -7px;
}


.ClientTitle{
    /*color: #383784;*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;


    font-family: Cabin;
    font-size: 32px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: 1.41px;
    text-align: center;
    color: #383784;

}



.ClientLogo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    margin-left: 60px;
    margin-top: 50px;
}

.ClientLogo1{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    margin-left: 60px;
    margin-top: 50px;

}

.ClientLogo2{
}

.LogoTitle{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    margin-top: 30px;

    width: 154px;
    height: 24px;

    font-family: Cabin;
    font-size: 19px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: 0.84px;
    text-align: center;
    color: #383784;
}



.getStarted{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    margin-top:116px

}


.getStartedText{
    margin-left: 150px;
}


.getStartedButton{
    margin-right:110px;
    width: 188px;
    height: 56px;
    background: #4BCF3D;
    color: white;
    font-family: Cabin;
    font-size: 19px;
    border-radius:8px;
}

.getStartedText1{
    color: #383784;
}


.Partnars{
    margin-top: 116px;
}

.PartnarLogo{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    margin-top: 50px;
    margin-left: 120px;
    margin-right: 120px;
}