



.D{
    margin-top:260px;
}

.SMSTitle{
    margin-left:200px;
}




.Hr{
    border: 3px solid #ED1C24;
    width:72px;
    margin-right:700px;
    margin-top: -10px;

}

.SMSp {
    margin-left: 150px;
    margin-top: 50px;
    color: #7674af;
}


.WhatSMS{
    display: flex;
}


.Man{
    margin-top:-257px;
    margin-left:300px;
}





.SMSDetails{
    margin-left: 150px;
    margin-top: 50px;
    display: flex;

}
.RightSymbol{
    width: 35px;
    height: 35px;
    margin-top:7px;
}
.SMSDetailsP{
    margin-left: 20px;
    color: #383784;
    margin-top: -20px;
}


.Try{
    margin-top:100px;
    display: flex;
    /*border: #4BCF3D solid 2px;*/
}

.TryText{
    color: #383784;
}


.TryImg{
    margin-left: 150px;
}

.TryItem{

    margin-top:80px;
    margin-left:400px;

}


.Email{
    border: #4BCF3D solid 2px;
}


.GetButton{
    background: #4BCF3D;
    border-radius: 5px;
    color: white;
    margin-left:-2px;
}


