.img{

    justify-content: center;
    align-items: center;
    width:1000px ;
    height:400px;
}


.Logo{
    margin-right:760px;
    margin-top:-370px;
    color: white;
}

.nav{

    margin-top:-50px;

    margin-left:300px;
}


.watchsection{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    margin-left:-50px;

}


.watchsectionbar{


    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: stretch;
    /*position:fixed;*/
    margin-left:200px;

}
#premiere{
    font-family:'Roboto', sans-serif;
    font-size: 20px;
    color: white;
    margin-bottom:-10px;
}
#wonder{
     font-family:'Roboto', sans-serif;
    font-size:30px;
    color: white;


}
#Action{
    font-family: Roboto;
    font-size:10px;
    color: white;
    margin-top:-14px;


}


.watchsectionbutton{

    border-radius: 36px;
    border: 1px solid #0EB7D2;

    /*text-color: white;*/



}

.watchsectionimg{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-end;
    align-content: stretch;
    margin-right:140px;
    margin-top:210px;






}


.watchsectionimg1{

    width:90px;
    height:60px ;
    margin-left:20px;
}


/*one Layout complite*/

.Layout2{

    margin-top:50px;
}

.md{
    width:53%;
    margin-left:175px;
    /*border-radius: 10px;*/


}

.mk{


    /*background: #61dafb;*/
    margin-top:50px ;
    width:21.1%;

}


.trendingbar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
}
.ComingSoon{
    /*display: inline-flex;*/
    display: flex;
    /*flex-direction: row;*/
    /*flex-wrap: nowrap;*/
    /*justify-content: space-around;*/
    /*align-items: center;*/
    /*align-content: stretch;*/


    margin-right: 218px;
}

.comingitem{
    margin-right:45px;
    font-family: Roboto;

}

.Trending{
    font-family: Roboto;

    margin-left: 220px;
    margin-top: 30px;
}

#More{
    font-family: Roboto;

}


.Trendingimg{

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    margin-top: 50px;

}



.TrendingList{

    height:150px;
    width:190px;
}

.trendingMargin{
    margin-top: 20px;
}






.RecentPlaying{
    /*background: #61dafb;*/
    width: 64%;
    margin-top: 15px;

}

.RecentShow{

    width:36%;
    margin-top: 15px;

}


.RecentShowTitle{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    margin-top: 10px;
}

.RecentTitle{
    margin-left: 8px;
}

.RecentTitle2{
    margin-right:8px;
}


.RecentShowImg{

    width: 250px;
    height: 150px;
    margin-top:20px;
}