
.home-image{
    width: 100%;
}
.logo-section{
    display: flex;
    margin-left:150px;
    margin-top:-650px;





}
.logo{

    width: 45.8px;
    height: 35px;
    object-fit: contain;

}
.logo-title{
    margin-top: 12px;
    margin-left: 5px;
    width: 60px;
    height: 26px;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.37;
    letter-spacing: normal;
    text-align: left;
   color: #282c34;

}

.h lu{
    display: flex;
    list-style: none;
    margin-top:-28px;
    margin-left: 500px;
    color: white;


}
.h li{
    margin-left:70px;
}
.h a{
    color: white;
}
.h a:hover{
    color:red;
}


.Search-icon{
    margin-top:-19px;

    display: flex;
    margin-left:1000px;
}

.f{

    margin-left: 50px;
}
