.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/*.maindiv{*/
/*   height:1418px ;*/
/*  width:100% ;*/
/*}*/

/*.mainphoto{*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  flex-wrap: nowrap;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  align-content: stretch;*/
/*}*/





.ms{
  display: inline-block;
  margin: 10px;
  color:white;
  font-family: Roboto;
  font-size:21px;

}


.haid {

  /*background-image: url("https://scontent.fdac25-1.fna.fbcdn.net/v/t1.0-9/s960x960/96085546_1194469644233660_6678780518735020032_o.jpg?_nc_cat=111&_nc_sid=8024bb&_nc_ohc=Pdd_PEQDE74AX-dMtBJ&_nc_ht=scontent.fdac25-1.fna&_nc_tp=7&oh=33311882000e7111b3c07c236855705f&oe=5ED7FB3F");*/

  justify-content: center;
  align-items: center;

}